.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0px 10px;

  position: static;
  top: 0;
  left: 0;

  width: 100%;
  height: 42px;

  background-color: var(--color-two);
}

.header-title {
  color: var(--color-one);
}
.header a {
  text-decoration: none;
}

.header-link {
  display: flex;
  align-items: center;

  height: 100%;

  color: var(--color-one);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.05em;

  padding: 0 10px;

  transition: all var(--dur-fast) linear;
}
.header-link:hover {
  color: var(--color-two);

  scale: .98;

  border-radius: 4px;
  background-color: var(--color-one);
}